/*********************************
***********  ELEMENTS  ***********
*********************************/

html {
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #272525;
}
