/*********************************
***********  ELEMENTS  ***********
*********************************/

html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: $brand_main_color;
}

button {
  border: none;
  width: 75vw;
  height: 11vh;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 2px 0 $brand_shadow_color;
  color: $brand_white;
  background-color: $brand_highlight_color;
  overflow: hidden;

  &:focus,
  &:hover {
    background-color: darken($brand_highlight_color, 25);
    outline: none;
    transform: scale(1.0675, 1.0657);
  }

  &:active {
    background-color: $brand_secondary_color;
    transform: scale(1.0675, 1.0657);
  }

  @include media($desktop) {
    width: 40vw;
    height: 20vh;
  }
}
