.quiz-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.quiz-title {
  font-size: 6rem;
}

.quiz-start {
  display: grid;
  grid-template-rows: 2;
  grid-gap: 2rem;
}
