.quiz-container {
  padding: 0 2rem;
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.score {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  display: none;
}

.quiz-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  @include media($mobile) {
    font-size: 4rem;
  }
}

.quiz-questions {
  text-align: center;
  margin: 2rem 0;
  * {
    font-size: 1.5rem;
  }
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: 2fr;
  grid-gap: 2rem;

  @include media($mobile) {
    grid-template-columns: repeat(2, 2fr);
  }
}

.active {
  display: block;
}
