// APP COLOURS

$brand_black: #000;
$brand_white: #fff;
$brand_shadow_color: rgba(21, 21, 21, 0.5);
$brand_main_color: #4abdac;
$brand_secondary_color: #fc4a1a;
$brand_highlight_color: #f7b733;
$brand_blank_color: #dfdce3;

// SIZES
$desktop: 600px;
